<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyConfig" type="auth.Config,  auth" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="auth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <MyConfig NAS_IDENTIFIER="OpenVpn">
    <servers>
      <server name="radius1.example" authport="1812" acctport="1813" wait="1" retries="3" sharedsecret="secret1" />
      <server name="radius2.example" authport="1812" wait="1" retries="2" sharedsecret="secret2" />
    </servers>
  </MyConfig>
<userSettings>
        <auth.Properties.Settings>
            <setting name="LogFolder" serializeAs="String">
                <value>C:\Data\Tools</value>
            </setting>
        </auth.Properties.Settings>
    </userSettings>
</configuration>
